.scrollable {
  overflow-y: auto;
  height: calc(100vh - 42px);
  /* 42 px высота меню  */
}

body {
  line-height: normal !important;
}

.layoutStyle {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}
