/workflow-api/target/
/workflow-xpil-api/target/
/workflow-engine/target/
/workflow-shark/target/
/workflow/target/
/workflow-web/target/
/workflow-web/bower_components/
/workflow-js/.next
/workflow-salepoint/nbproject/
/workflow-salepoint/target/
/workflow-context/target/
/workflow-context-api/target/
/workflow-core/target/
/workflow-entities/target/
/workflow-shark-webclient/target/
/workflow-core/transaction-logs/