<?xml version="1.0" encoding="UTF-8"?>
<Context antiJARLocking="true" path="/workflow">
    <Resource
        name="UserTransaction"
        type="javax.transaction.UserTransaction"
        auth="Container"
        factory="org.enhydra.jndi.UserTransactionFactory"
    />

    <Resource
        name="sharkdb"
        type="javax.sql.DataSource"
        max="10"
        min="1"
        factory="org.enhydra.jndi.DataSourceFactory"
        driverClassName="com.mysql.jdbc.Driver"
        url="jdbc:mysql://localhost/workflow"
        validationQuery="SELECT 1"
        username="workflow"
        password="shark"
    />

    <Environment name="xpdlRepository" value="/home/slavb/work/workflow/trunk/xpdlrepository/web" type="java.lang.String" override="false"/>
</Context>
