body {
  line-height: normal !important;
}

.page-layout {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.page-content {
  overflow: auto;
  margin: 0 !important;
  height: calc(100vh - 42px);
  /* 42 px высота меню  */
}
